@model convee_web01.Models.ClientInvoicesVM
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "About";
}
<h2>Invoices</h2>
<h3>All (Client name) Invoices</h3>

<p>Use this area to provide additional information.</p>
